@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@theme {
  --color-primary: #018BBA;
  --color-primary-700: #01749B;
  --color-primary-dark: #005A74;
  --color-primary-light: #59C7E6;
  --color-secondary: #D77A61;
  --color-secondary-dark: #A85D47;

  --color-heading: #163042;
  --color-body: #52606D;
  --color-border: #E6E9EC;
  --color-surface: #FFFFFF;
  --color-bg: #FAFBFC;
  --color-success:#4CAF4F;
  --color-error: #FF4B4B;
  --color-error-light: #FFCCCC;
  --color-error-mid: #CC0000;
  --color-error-dark: #990000;
  --color-warning: #FFC107;

  /* Fonts */
  --font-headings: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;

  /* Radius */
  --radius-card:20px;
  --radius-input:14px;

  /* Shadow */
  --shadow-card:0 10px 30px rgba(0,0,0,.08);

  /* fonts */

  --text-small: 0.875rem;
  --text-regular: 1rem;
  --text-body-lg: 1.125rem;
  --text-title: 1.5rem;
}


/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--color-bg);
  color: var(--color-body);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .text-hero {
    font-size: 40px;
  }
  .text-section-title {
    font-size: 28px;
  }
  .text-card-title {
    font-size: 20px;
  }
}



.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
